.state {
  /* display: flex; */
  justify-content: space-evenly;
  padding: 0 45px 0 45px;
}

.app__dropdown {
  display: flex;
  justify-content: space-between;
}

tbody+thead {
  display: none;
}

.sorting_desc {
  border-bottom-width: 0px;
  border-bottom: none;
  border: none;
  border-top: none;
}